<!DOCTYPE html>
<html>
<head>
  <title>Is my sidekiq ok</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "is_my_sidekiq_ok/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
